name: Build and Push Docker Image

on:
  push:
    branches:
      - development
  pull_request:
    branches:
      - development

jobs:
  build:
    name: Build Docker Image
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker Image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/wis:latest .
          docker tag ${{ secrets.DOCKER_USERNAME }}/wis:latest ${{ secrets.DOCKER_USERNAME }}/wis:v1.0
          docker save ${{ secrets.DOCKER_USERNAME }}/wis:latest > image.tar

      - name: Upload Docker Image as Artifact
        uses: actions/upload-artifact@v4
        with:
          name: docker-image
          path: image.tar

  push:
    name: Push Docker Image
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Download Docker Image Artifact
        uses: actions/download-artifact@v4
        with:
          name: docker-image
          path: .

      - name: Load Docker Image
        run: |
          docker load -i image.tar
          docker tag ${{ secrets.DOCKER_USERNAME }}/wis:latest ${{ secrets.DOCKER_USERNAME }}/wis:v1.0

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Push Docker Image to DockerHub
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/wis:latest
          docker push ${{ secrets.DOCKER_USERNAME }}/wis:v1.0